@font-face {
  font-family: 'Lora';
  src: url('@/assets/fonts/lora/Lora-Regular.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-bold';
  src: url('@/assets/fonts/lora/Lora-Bold.ttf') format('trueType');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('@/assets/fonts/rubik/Rubik-Regular.ttf') format('trueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-bold';
  src: url('@/assets/fonts/rubik/Rubik-Bold.ttf') format('trueType');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('@/assets/fonts/rubik/Rubik-SemiBold.ttf') format('trueType');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('@/assets/fonts/rubik/Rubik-Light.ttf') format('trueType');
  font-weight: bold;
  font-style: normal;
}
